.App {
  text-align: center;
  
}


body {
  background-image: url('/Users/hahyemin/react_test2/naman/public/assets/아이맥.png');
  background-repeat: no-repeat;
  background-position: center top; /* 이미지를 화면 중앙 상단에 고정 */
  background-size: 1500px 800px; /* 이미지 크기를 원본 크기로 유지 */
  min-height: 100vh; /* 화면 높이에 맞추어 설정 */
  margin: 0; /* 기본 여백 제거 */
  display: flex;
  justify-content: center; /* 화면 중앙으로 정렬 */
  align-items: start; /* 상단에 고정 */
  overflow: auto; /* 스크롤 가능하게 설정 */
} 


.menu-bar {
  position: fixed;
  top: 118px; /* 화면의 맨 위에 고정 */
  left: 49%; /* 화면의 중앙을 기준으로 위치 지정 */
  transform: translateX(-50%); /* 정확히 중앙으로 이동 */
  justify-content: flex-start; /* 가로 방향으로 왼쪽 정렬 */
  width: 786px; 
  height: 30px;
  display: flex; /* Flexbox로 요소 정렬 */
  background-color: white;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}  

.menu-bar div {
  margin-top:5px;
  margin-left: 15px; /* 각 텍스트 요소 사이에 간격 추가 */
}

.bunny-icon{
  width: 35px; /* 아이콘의 크기를 조정 */
  padding-left: 10px;

}

.computer-box {
  position: fixed;
  top:149px;
  width: 786px; 
  height: 534px;
  transform: translateX(-50%); /* 정확히 중앙으로 이동 */
  left: 49.1%; /* 화면의 중앙을 기준으로 위치 지정 */
  background-color: lightblue; /* 박스의 배경색 */
  border: 2px solid black; /* 박스의 테두리 */


  font-size: 2vw; /* 텍스트 크기를 화면 너비에 비례하게 설정 */
  color: black; /* 텍스트 색상 */
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

